<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>Game Of Count Money</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="bg">
        <div class="money-pic">
            <img src="../public/img/d0.png" alt="随机钞票">
        </div>
        <div class="change-title">
            <img src="../public/img/pt1.png" alt="挑战">
            <img src="../public/img/pt1.png" alt="挑战">
        </div>
        <div class="money-layout"></div>
        <div class="game-start"></div>
    </div>
</body>
<script src="../public/js/fontSet.js"></script>
<script>
    
</script>
</html>